.Audio {
  position: relative;
  height: 43px;
  background: rgba(0, 0, 0, .8);
  margin-top: -43px;
  color: #fff;
}

.Audio-progress {
  position: relative;
  display: inline-block;
  width: 47.7%;
  height: 3px;
  margin-top: 15px;
  background: #fff;
  border-radius: 1px;
  vertical-align: middle;
}

.Audio-progress-track {
  position: absolute;
  top: auto;
  left: 0;
  height: 100%;
  background: #3a3a3a;
}

.Audio-current,
.Audio-duration {
  display: inline-block;
  width: 26.15%;
  margin-top: 15px;
  font-size: .75rem;
  vertical-align: middle;
}