@import './../variables.css';

.controls_container {
  position: relative;
  display: inline-block;
  width: 50%;

  &__main {
    width: 100%;
    margin-bottom: 10px;
  }

  &__volume {
    padding-right: 25px;
    padding-bottom: 10px;
    text-align: right;
  }

  &__playback {
    padding-left: 25px;
    text-align: left;
  }
}

.controls button {
  padding: 2px 6px;
  margin: 0 5px;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  vertical-align: middle;

  &:hover svg {
    fill: #000;
  }
}

.controls_play {
  width: 48px;
  height: 48px;

  svg {
    fill: var(--uiBlack);
  }
}

.controls_rewind,
.controls_fastforward,
.controls_prev,
.controls_next,
.controls_volume {
  width: 44px;
  height: 44px;

  svg {
    fill: var(--controlsGrey);
  }
}

.controls_prev,
.controls_next {
  width: 30px;
  height: 30px;
}

.controls_volume {
  width: 35px;
  height: 35px;
}

.icon_btn_mute {
  position: relative;
  top: 3px;
  left: -4px;
  width: 72%;
  height: 72%;
}

.controls_volume_range {
  width: 50%;
  vertical-align: middle;
}

.controls_playback {
  font-weight: bold;
}

.controls_playback_rate_list {
  list-style: none;
  padding: 0;
  color: var(--cardTextColor);
  font-size: .8rem;
  text-align: left;

  li {
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;

    &:hover {
      color: var(--uiBlack);
      font-weight: bold;
    }
  }
}