@import 'normalize.css/normalize.css';
@import 'images/sprite.css';

html {
  box-sizing:  border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #e4e4e5;
  font-family: 'Helvetica Neue';
}

button {
  color: currentColor;
}

.icon {
  display: inline-block;
}